header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid black;
}

.header-title {
    font-size: 20px;
    text-align: center;
    transition: 0.2s;
}

.header-title:hover {
    color: gray;
    transition: 0.2s;
}


.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


.header-button {
    border: 2px solid black;
    font-size: 15px;
    border-radius: 7px;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: 0.2s;
}

.header-button:hover {
    color: white;
    background: black;
    transition: 0.2s;
}

.login-button:hover {
    color: white;
    background: black;
    transition: 0.2s;
}

.signup-button:hover {
    color: white;
    background: black;
    transition: 0.2s;
}